.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
    height: 90vh;
    flex-wrap: wrap;
}

.childContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 2.5px;
    margin: 1%;
    border: solid 2px white;
    height: 20%;
    box-shadow: 10px 10px rgb(235, 201, 52);
    transition: transform .2s;
}

.childContainer:hover{
    transform: scale(1.1);
}

.pButton{
    width: 20ch;
    height: 5ch;
}

.ptag{
    padding: 2%;
}