@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background: rgb(17, 77, 74);
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.container{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 10vh;
    border-bottom: 1px solid white;
}

.link{
    margin: 1%;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-shadow: 3px 1px rgb(235, 201, 52);
    border-right: 1px solid white;
    padding-right: 2%;
}

.link:hover, .link1:hover{
    text-shadow: 3px 1px 8px black;
}

.link1{
    margin: 2%;
    font-size: 40px;
    text-decoration: none;
    color: white;
    text-shadow: 3px 1px rgb(235, 201, 52);
    border: none;
}