@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body{
    margin: 0;
    padding: 0;
    background: rgb(17, 77, 74);
    font-family: 'Roboto Mono', monospace;
    color: white;
}

.container{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 10vh;
}

.link{
    margin: 2%;
    font-size: larger;
    text-decoration: none;
    color: white;
}